<h2>Leaderboard</h2>

<p>
	The top <b><%= @users.size %></b> contributing users, from a total of <b><%= User.count() %></b>.
</p>

<table width="100%">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Level</th>
		<th>Problems</th>
		<th>Contributions</th>
	</tr>
	<% @users.each_with_index do |user, index| %>
		<% level=User.calc_experience_level(Integer(user[:num_contributions])) %>
		<tr id="level-<%=level %>" >
			<td align="center"><%= (index + 1)%></td>
			<td>
				<%= link_to user[:login], :controller => 'users', :action => 'viewprofile', :id => user[:id] %>
			</td>
			<td align="center">
				<%=level %>
			</td>
			<td align="center"><%= user[:num_instances] %></td>
			<td align="center"><%= user[:num_contributions] %></td>
		</tr>
	<% end %>
</table>
