<h2>Change password</h2>

<%= error_messages_for 'user' %>

<%= form_tag :action => 'change_password' %>
<table align="center">
	<tr>
		<td><label for="user_password">Choose password:</label></td>
		<td><%= password_field "user", "password", :size => 20, :value=>"" %></td>
	</tr>
	<tr>
		<td><label for="user_password_confirmation">Confirm password:</label></td>
		<td><%= password_field "user", "password_confirmation", :size => 20, :value=>"" %></td>
	</tr>	
	<tr>
		<td></td>
		<td><%= submit_tag "Submit" %></td>
	</tr>
</table>
</form>

<br/>